.categories-card {
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 1.6rem;

  .card-item {
    font-size: .875rem;
    text-align: left;
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    padding: 0 2%;
    position: relative;

    .card-item-wrapper {
      width: 100%;

      .card-item-title {
        font-size: 1.2rem;
        font-weight: bold;
        display: inline-block;
        margin-top: 1rem;
        margin-bottom: .75rem;
      }

      span {
        float: right;
        padding-right: 1rem;
      }
    }
  }
}

.archive-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 2.5%;
  border-radius: 10px;
  box-shadow: (0 0 10px rgba(0, 0, 0, .1));
  margin-top: 3%;
  flex-wrap: wrap;
  margin-top: .4rem;
  line-height: 150%;

  [theme=dark] & {
    color: $global-font-color-dark;
    background: $global-background-color-dark;
    box-shadow: (0 0 4px rgba(204, 207, 211, 0.3));
  }
}

.archive-item-link {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;

  &:hover {
    color: $global-link-hover-color;
    background-color: transparent;
  }

  [theme=dark] & {
    color: $global-link-color-dark;

    &:hover {
      color: $global-link-hover-color-dark;
    }
  }
}

.archive-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    color: $global-link-hover-color;
    background-color: transparent;
  }

  [theme=dark] & {
    color: $global-link-color-dark;

    &:hover {
      color: $global-link-hover-color-dark;
    }
  }
}

.more-post {
  text-align: right;
}
