{{- $params := .Params | merge .Site.Params.page -}}
<div class = "item">
    <article class="post-summary" itemscope itemtype="http://schema.org/Article">
        {{- /* Featured image */ -}}
        {{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
        {{- with .Resources.GetMatch "featured-image" -}}
            {{- $image = .RelPermalink -}}
        {{- end -}}
        {{- with .Resources.GetMatch "featured-image-preview" -}}
            {{- $image = .RelPermalink -}}
        {{- end -}}
        {{- with $image -}}
            <div class="featured-image-preview">
                <a href="{{ $.RelPermalink }}">
                    {{- dict "Src" . "Title" $.Description "Resources" $.Resources | partial "plugin/image.html" -}}
                </a>
            </div>
        {{- end -}}

        {{- /* Title */ -}}
        <h2 class="post-title" itemprop="name headline">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h2>
        <p class="post-count">
            <i class="far fa-check-circle"></i> <b>{{ len .Pages}}</b> published
        </p>
        
    </article>
</div>