{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section }} - {{ .Site.Title -}}
{{- end -}}
    

{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
        <div class="page archive">
            {{- /* Title */ -}}
            <h2 class="single-title animated pulse faster">
                {{- .Params.Title | default (T .Section) | default .Section -}}
            </h2>

            {{- /* Paginate */ -}}
            {{- if .Pages -}}
                {{- $pages := .Pages.GroupByDate "2006" -}}
                {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                    {{- $pages = $.Paginate $pages . -}}
                {{- else -}}
                    {{- $pages = .Paginate $pages -}}
                {{- end -}}
                
                {{- range $pages.PageGroups -}}
                    <h3>{{ .Key }}</h3>
                    {{- range .Pages -}}
                        {{- if .Pages -}}
                            <!-- TODO -->
                            <!-- Currently no need to appear nested menu -->
                        {{- else -}}
                            <article class="post-single">
                                <div>
                                    <a href="{{ .RelPermalink }}" class="post-title">
                                        {{- .Title -}}</br>
                                    </a>
                                </div>
                                <div class="post-meta">
                                    <i class="far fa-calendar-alt fa-fw"></i>&nbsp;{{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}&nbsp;
                                    <i class="fas fa-pencil-alt fa-fw"></i>&nbsp;{{ T "wordCount" .WordCount }}&nbsp;
                                    <i class="far fa-clock fa-fw"></i>&nbsp;{{ T "readingTime" .ReadingTime }}&nbsp;
                                </div>
                                <div class="post-meta">
                                    {{- with .Params.tags -}}
                                        &nbsp;<i class="fas fa-tags fa-fw"></i>&nbsp;
                                        {{- range $index, $value := . -}}
                                            &nbsp;{{- if gt $index 0 }},&nbsp;{{ end -}}
                                            {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
                                            <a class="post-tags" href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
                                        {{- end -}}
                                    {{- end -}}
                                </div>
                            </article>
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
                {{- partial "paginator.html" . -}}
            {{- end -}}
        </div>

{{- end -}}
