.archive {
  list-style: none;
  
  .single-title {
    text-align: right;
    list-style: none;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .featured-image-preview {
    width: 100%;
    padding: 35% 0 0;
    position: relative;
    margin: 0.6rem auto;
    @include transition(transform 0.4s ease);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include object-fit(none);
    }

    img.lazyloaded {
      @include object-fit(cover);
    }

    &:hover {
      @include transform(scale(1.01));
    }
  }

  .post-title {
    font-size: 1.2rem;
    line-height: 120%;
    margin: 0.4rem 0;
  }

  .post-summary {
    padding: 3%;
    color: $global-font-color;
    background: $global-background-color;
    border-radius: 15px;
    box-shadow: (0 0 10px rgba(0, 0, 0, .1));
    margin-top: 15%;

    [theme=dark] & {
      color: $global-font-color-dark;
      background: $global-background-color-dark;
      box-shadow: (0 0 4px rgba(204, 207, 211, 0.3));
    }
  }

  .post-count {
    margin-top: .3rem;
    width: 100%;
    overflow: hidden;
    color: $global-font-secondary-color;

    [theme=dark] & {
      color: $global-font-secondary-color-dark;
    }
  }

  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";

  .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item{
      /* flex: 0 0 24% 该属性等价于 flex:none;width:24% */
    flex: 0 0 45%;
    height: 30%;
    margin-bottom: 30%;
  }
  
  .item-fill{
    flex: 0 0 45%;
    height:0;
  }
  /* 消除最后一行多余边距 */
  .list .item:nth-last-child(-n+4){
    margin-bottom: 0;
  }
}