.archive {
  list-style: none;
  
  .single-title {
    text-align: right;
    list-style: none;
  }

  .group-title {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .featured-image-preview {
    width: 100%;
    padding: 35% 0 0;
    position: relative;
    margin: 0.6rem auto;
    @include transition(transform 0.4s ease);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      @include object-fit(none);
    }

    img.lazyloaded {
      @include object-fit(cover);
    }

    &:hover {
      @include transform(scale(1.01));
    }
  }

  .post-title {
    font-size: 1.1rem;
    line-height: 110%;
    margin: 0.4rem 0;
  }

  .post-summary {
    padding: 3%;
    color: $global-font-color;
    background: $global-background-color;
    border-radius: 15px;
    box-shadow: (0 0 10px rgba(0, 0, 0, .1));
    margin-top: 15%;

    [theme=dark] & {
      color: $global-font-color-dark;
      background: $global-background-color-dark;
      box-shadow: (0 0 4px rgba(204, 207, 211, 0.3));
    }
  }

  .post-single {
    font-size: 1.15rem;
    line-height: 140%;
    padding: 2%;
    color: $global-font-color;
    border-radius: 10px;
    background: $global-background-color;
    box-shadow: (0 0 10px rgba(0, 0, 0, .1));
    margin-top: 2%;

    [theme=dark] & {
      color: $global-font-color-dark;
      background: $global-background-color-dark;
      box-shadow: (0 0 4px rgba(204, 207, 211, 0.3));
    }
  }

  .post-meta {
    font-size: 0.9rem;
    margin-top: .2rem;
    width: 100%;
    overflow: hidden;
    color: $global-font-secondary-color;
    @include link(false, false);

    .post-tags {
      padding: 0;
      font-size: 1.0rem;

      @include link(true, true);
    }

    [theme=dark] & {
      color: $global-font-secondary-color-dark;
    }
  }

  @import "../_partial/_archive/terms";
  @import "../_partial/_archive/tags";

  .list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item{
      /* flex: 0 0 24% 该属性等价于 flex:none;width:24% */
    flex: 0 0 45%;
    height: 30%;
    margin-bottom: 1%;
  }
  
  .item-fill{
    flex: 0 0 45%;
    height:0;
  }
  /* 消除最后一行多余边距 */
  .list .item:nth-last-child(-n+4){
    margin-bottom: 0;
  }

  .content {
    > h2 {
      font-size: 1.5rem;

      & code {
        font-size: 1.25rem;
      }
    }

    > h3 {
      font-size: 1.375rem;

      & code {
        font-size: 1.125rem;
      }
    }

    > h4 {
      font-size: 1.25rem;

      & code {
        font-size: 1rem;
      }
    }

    > h5 {
      font-size: 1.125rem;
    }

    > h6 {
      font-size: 1rem;
    }
    
    p {
      margin: .5rem 0;
    }

    b, strong {
      font-weight: bold;

      [theme=dark] & {
        color: #ddd;
      }
    }

    @include link(false, false);

    a {
      @include overflow-wrap(break-word);

      [theme=dark] & b, [theme=dark] & strong {
        color: $single-link-color-dark;
      }
    }

    [theme=dark] a:hover b, [theme=dark] a:hover strong {
      color: $single-link-hover-color-dark;
    }

    ul, ol {
      margin: .5rem 0;
      padding-left: 1.5rem;
    }

    ul {
      list-style-type: disc;
    }

    ruby {
      background: $code-background-color;

      rt {
        color: $global-font-secondary-color;
      }

      [theme=dark] & {
        background: $code-background-color-dark;

        rt {
          color: $global-font-secondary-color-dark;
        }
      }
    }

    img {
      min-height: 1em;
      max-width: 100%;
      text-align: center;
      padding: .5rem;
      display: inline-block;
    }

    .lazyloading {
      @include object-fit(none);
    }

    blockquote {
      display: block;
      border-left: .5rem solid $blockquote-color;
      background-color: rgba($blockquote-color, .2);
      padding: .25rem .75rem;
      margin: 1rem 0;

      [theme=dark] & {
        border-left-color: $blockquote-color-dark;
        background-color: rgba($blockquote-color-dark, .2);
      }
    }

  }
}